<div class="customers">
<div class="breadcrumb">
    <h1>{{'purchase-invoice.purchase-receiveining' | translate}}</h1>
    <ul>
        <li>{{'purchase-invoice.invoice-management'  | translate}}</li>
        <li><strong class="text-primary">{{'purchase-invoice.purchase-receiveining'  | translate}}</strong></li>
    </ul>
</div>
	
		<div class="card">
					<div class="card-body">
<form [formGroup]="searchForm" id="searchForm" (submit)="onSearch()">
	<div class="row">

		 <div class="col-md-4 form-group required">
         <label>{{ "purchase-invoice.supplierName" | translate }}</label>
             <p-dropdown 
                                  [options]="filteredCustomers"
                                  [styleClass]="'form-control'" 
                                  optionLabel="name" 
                                  optionValue="id"
                                  [filter]="true"
                                  placeholder="{{ 'purchase-invoice.suppliers' | translate }}" 
                                  formControlName="customerId">
              </p-dropdown> 
              
      </div>

				<div class="col-md-4 form-group mb-3 required">
  <label>{{ "purchase-invoice.invoiceNumber" | translate }}</label>
  <p-autoComplete
    formControlName="invoiceNumber"
    [suggestions]="filteredInvoices"
    (completeMethod)="filterInvoices($event)"
    field="name"
    [forceSelection]="true"
    [inputStyle]="{
      backgroundColor: '#f8f9fa',
      border: '1px solid #CED4DA',
      borderRadius: '17px',
      height: '32px',
      padding: '0.375rem 0.75rem',
      width: '100%'    
    }"
  ></p-autoComplete>
</div>
               

                         
						<div class="col-md-4 form-group mb-3">
        <label for="picker1">{{
          "purchase-invoice.receiveDateFrom" | translate
        }}</label>
        <div class="input-group">
          <input
            id="invoiceDate"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            formControlName="invoiceDateFrom"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              (click)="dp.toggle()"
              type="button"
            >
              <i class="icon-regular i-Calendar-4"></i>
            </button>
          </div>
        </div>
      </div>

	   <div class="col-md-4 form-group mb-3 ">
        <label for="picker1">{{
          "purchase-invoice.receiveDateTo" | translate
        }}</label>
        <div class="input-group">
          <input
            id="invoiceDateTo"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="invoiceDateTo"
            formControlName="invoiceDateTo"
            ngbDatepicker
            #invoiceDateTo="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              (click)="invoiceDateTo.toggle()"
              type="button"
            >
              <i class="icon-regular i-Calendar-4"></i>
            </button>
          </div>
        </div>
      </div>




	</div>

				<div class="row ">
  <div class="col-2 search-section" >
       <button class="btn btn-light  btn-block mt-3 mr-1" type="button" (click)="resetSearchForm()">{{'common.clear' | translate}}</button>
		<button class="btn btn-primary btn-block mt-3 mr-1" type="submit">{{'common.search' | translate}}</button>
  </div>
</div>
				
 </form>
					</div>
				</div>

<div class="custom-table-wrap my-3">
		<div class="table-heading">
			<div class="table-search form-group">
			</div>
		</div>
		<!-- Lookups -->
		<app-table 
			[Headers]="columns" 
			[dataSource]="dataSource" 
			[actionList]="actionList" 
			(EventHandler)="onHandleAction($event)"
			[PageSize]="baseSearch.pageSize" 
			[TotalRecords]="totalCount" 
			(PageChange)="onPageChange($event)"
		>
		</app-table>
	</div>
</div>



<ng-template #changeDeliveryDate let-modal>
				<div class="modal-header">
					<h4 class="modal-title" id="modal-basic-title">{{'purchase-invoice.receivedDateTitle' | translate}}</h4>
					<button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
					<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
             <div class="col-md-12 form-group mb-3 required">
        <label for="picker1"  class="custom-popup" >{{
          "purchase-invoice.receivedDate" | translate
        }}</label>
        <div class="input-group">
          <input
            id="deliveryDate"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="deliveryDate"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              (click)="dp.toggle()"
              type="button"
            >
              <i class="icon-regular i-Calendar-4"></i>
            </button>
          </div>
               <div  class="invalid-feedback">
           {{ "common.fieldRequired" | translate }}
        </div>
        </div>

      </div>
          </div>
						<button type="button" class="btn btn-rounded btn-secondary m-1" (click)="modal.dismiss('Cross click')">{{'common.cancel' | translate }}</button>
			    	<button type="button" class="btn btn-rounded btn-primary" (click)="submitDeliveryDate();modal.dismiss('Cross click')">{{'purchase-invoice.change'| translate  }}</button>
				</div>
</ng-template>
