<div class="event-mapping">
	<div class="breadcrumb">
		<h1>Event Mapping</h1>
		<ul>
			<li><strong>Fuse</strong></li>
			<li>Event Mapping</li>
		</ul>
	</div>
	
	<div class="custom-table-wrap">
		<div class="table-heading">
			<div class="table-search form-group">
				<input id="table-search" placeholder="Search by supplier..."  class="form-control form-control-search" type="text">
			</div>
			<div class="heading-actions">
				<a class="btn btn-primary btn-rounded w-100" href="#/pages/event-mapping-new">
					<i class="i-Plus"></i>
					<span>Add new event mapping</span>
				</a>
			</div>
		</div>

		<div class="table-wrap">
			<table class="custom-table">
				<thead>
					<tr>
						<th style="width: 150px;">
							Supplier id
							<span class="sort-btn"><i class="i-Arrow-Up"></i><i class="i-Arrow-Down"></i></span>
						</th>
						<th style="padding-right: 100px;">
							Supplier name
							<span class="sort-btn"><i class="i-Arrow-Up"></i><i class="i-Arrow-Down"></i></span>
						</th>
						<th>
							Status
							<span class="sort-btn"><i class="i-Arrow-Up"></i><i class="i-Arrow-Down"></i></span>
						</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
					<tr class="redirect-link" role="link" (click)="redirect($event)" data-link="/pages/event-mapping-supplier">
						<td>4</td>
						<td>Supplier name</td>
						<td><span class="status c-badge active">Active</span></td>
						<td class="actions">
							<div ngbDropdown>
								<i ngbDropdownToggle class="row-menu"><span></span></i>
								<div ngbDropdownMenu>
									<a class="dropdown-item" href="#/pages/event-mapping-supplier/event-mapping-edit">Edit</a>
									<button class="dropdown-item delete">Delete</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-footer-inner">
			<div class="pages">
				<div class="page-count">30 total</div>

				<div class="entries">
					Show per page
					<div class="entries-dropdown" ngbDropdown>
						<div id="entriesDropdown" ngbDropdownToggle [ngbNavOutlet]="entries"></div>
				
						<div ngbDropdownMenu aria-labelledby="entriesDropdown" ngbNav #entries="ngbNav" class="entries-dropdown">
							<ng-container ngbNavItem>
								<a class="dropdown-item" ngbNavLink>10</a>
								<ng-template ngbNavContent>10</ng-template>
							</ng-container>
							<ng-container ngbNavItem>
								<a class="dropdown-item" ngbNavLink>50</a>
								<ng-template ngbNavContent>50</ng-template>
							</ng-container>
							<ng-container ngbNavItem>
								<a class="dropdown-item" ngbNavLink>70</a>
								<ng-template ngbNavContent>70</ng-template>
							</ng-container>
							<ng-container ngbNavItem>
								<a class="dropdown-item" ngbNavLink>100</a>
								<ng-template ngbNavContent>100</ng-template>
							</ng-container>
						</div>
					</div>
				</div>
			</div>

			<div class="table-pager">
				<div class="action disabled pager-position" aria-label="go to first page">
					<i class="datatable-icon-prev"></i>
				</div>

				<div class="action disabled pager-step"  aria-label="go to previous page">
					<i class="datatable-icon-left"></i>
				</div>

				<div class="action pager-page active">1</div>
				<div class="action pager-page">2</div>
				<div class="action pager-page">3</div>

				<div class="action pager-step" aria-label="go to next page">
					<i class="datatable-icon-right"></i>
				</div>

				<div class="action pager-position"  aria-label="go to last page">
					<i class="datatable-icon-skip"></i>
				</div>
			</div>
		</div>
	</div>
</div>  