<ng-template #availableEvents let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Available events</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <div class="item-type-3 grid-1x">
            <div class="box-info">
                <div class="item-header">
                    <div class="info">295. Handover to the airline at origin</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">299. MAWB arrived</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">297. MAWB departured</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">328. Processed for clearance</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">45. Your shipment has arrived (office name)</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">344. Your shipment is out for delivery</div>
                </div>
            </div>
            <div class="box-info">
                <div class="item-header">
                    <div class="info">295. Handover to the airline at origin</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">299. MAWB arrived</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">297. MAWB departured</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">328. Processed for clearance</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">45. Your shipment has arrived (office name)</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">344. Your shipment is out for delivery</div>
                </div>
            </div>
            <div class="box-info">
                <div class="item-header">
                    <div class="info">295. Handover to the airline at origin</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">299. MAWB arrived</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">297. MAWB departured</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">328. Processed for clearance</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">45. Your shipment has arrived (office name)</div>
                </div>
            </div>

            <div class="box-info">
                <div class="item-header">
                    <div class="info">344. Your shipment is out for delivery</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>