.file-name {
    .table-server-error {
        position: relative;
    }
      
    .table-server-error:hover #server-error-hint {
        display: block;
    }

    .column-wide {
        @media (min-width: 768px) { 
            padding-right: 250px;
        }
    }
    
    #server-error-hint {
        display: none; 
        border-radius: 4px; 
        font-size: 14px; 
        position: absolute; 
        z-index: 999; 
        padding: 12px 20px; 
        background-color: $white; 
        border: 1px solid $c-gray;

        @media (max-width: 768px) { 
            left: 16px !important;
            width: calc(100vw - 2rem);
        }
    }
}