<div class="customers">
<div class="breadcrumb">
    <h1>{{'Cost Invoices' | translate}}</h1>
    <ul>
        <li>{{'Sales Management'  | translate}}</li>
        <li><strong class="text-primary">{{'Cost Invoices'  | translate}}</strong></li>
    </ul>
</div>
	
		<div class="card">
					<div class="card-body">
	<div class="row">

		 <div class="col-md-4 form-group required">
        <label>{{ "Description" | translate }}</label>
        <input
          type="text"
          maxlength="100"
          placeholder="{{ 'Description' | translate }}"
          class="form-control"
          [(ngModel)]="searchKeyWord"
        />
        <div class="invalid-feedback">
        </div>
      </div>
	</div>

				<div class="row ">
  <div class="col-2 search-section" >
       <button class="btn btn-light  btn-block mt-3 mr-1" type="button" (click)="resetSearchForm()">{{'Clear' | translate}}</button>
		<button class="btn btn-primary btn-block mt-3 mr-1" type="submit"  (click)="onSearch()" >{{'Search' | translate}}</button>
  </div>
</div>
				

					</div>
				</div>

<div class="custom-table-wrap my-3">
		<div class="table-heading">
			<div class="table-search form-group">
			</div>
			<div  class="heading-actions">
				<button 
					type="button" 
					class="btn btn-rounded btn-primary" 
					(click)="onAddCostInvoice(AddInvoicePopup)" 
				>
					<i class="i-Plus"></i>
					<span>
						{{ 'Cost Invoice' | translate }}
					</span>
				</button>
			</div>
		</div>
		<!-- Lookups -->
		<app-table 
			[Headers]="columns" 
			[dataSource]="dataSource" 
			[actionList]="actionList" 
			(EventHandler)="onHandleAction($event)"
			[PageSize]="baseSearch.pageSize" 
			[TotalRecords]="totalCount" 
			(PageChange)="onPageChange($event)"
		>
		</app-table>
	</div>
</div>



     

<ng-template #AddInvoicePopup let-modal>
	<app-cost-invoice-form [modal]="modal"  ></app-cost-invoice-form>
</ng-template>