.input-phone-selector {
    overflow: hidden;

    &.cdk-focused {
        color: #47404f;
        background-color: $white;
        border-color: #b399cc;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(102, 51, 153, 0.25);

        &.is-invalid {
            border-color: #C1374A;
            box-shadow: 0 0 0 0.25rem rgba(193, 55, 74, 0.25);
        }

        &:not(.cdk-keyboard-focused):not(.cdk-mouse-focused) {
            border-color: #CED4DA;
            box-shadow: none;
            background-color: #f8f9fa;
        }
    }

    input {
        vertical-align: middle;
        line-height: 1;
    }

    .country-selector {
        width: 96px !important;
        background-color: transparent;
        opacity: 1 !important;
        text-align: left;

        // .mat-button-wrapper {
        //     padding-left: 0.9em;
        // }

        .country-selector-flag {
            margin-right: 0.4em;
            margin-bottom: 2px;
            margin-left: 0.75rem; 
        }

        .country-selector-code {
            display: contents;
            line-height: 18px;
        }
    }
    
    .mdc-button__label {
        display: flex;
        align-items: center;    
    }
    
    .mat-mdc-focus-indicator, .mat-mdc-button-touch-target, .mat-mdc-button-ripple, .mat-mdc-button-persistent-ripple.mdc-button__ripple {
        display: none;
    }
}

.cdk-overlay-container {
    .ngx-mat-tel-input-overlay-backdrop + * {
        .cdk-overlay-pane {
            .mat-menu-panel, .mat-mdc-menu-panel {
                font-family: var(--bs-body-font-family);    
                position: initial;
                max-height: 230px;
                max-width: 268px;
            }

            .mat-menu-content, .mat-mdc-menu-content {
                max-height: inherit;
                padding: 0 !important;
            }

            .country-search {
                height: 32px;
                padding: 0;
                margin-bottom: .3rem;
                border-color: $gray-300;
                color: inherit;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: $gray-500;
                }
            }

            .country-list-button {
                min-height: 10px;
                padding: .15rem 0;
                background-color: $white;
                font-size: inherit;
                color: inherit;

                &:last-child {
                    margin-bottom: 1rem;
                }

                .icon-wrapper {
                    padding-right: .56rem;
                }

                .label-wrapper {
                    white-space: normal;
                }
            }

            .mat-divider {
                margin: .3rem 0;
                border-color: $gray-300;
            }
        }
    }
}

[dir=rtl] {
    .cdk-overlay-container {
        .ngx-mat-tel-input-overlay-backdrop + * {
            .cdk-overlay-pane {    
                .country-list-button {
                    display: flex;
                    flex-direction: row-reverse;

                    .icon-wrapper {
                        padding-left: .56rem;
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .input-phone-selector {
        .mdc-button__label {
            flex-direction: row-reverse;  
        }
        
        .mat-button-wrapper {
            display: flex;
            flex-direction: row-reverse;  
            align-items: center;
        }
    }
}
