.product-image {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #eee;
    background-image: url(https://via.placeholder.com/150);
    background-size: cover;
    background-position: center;
}