@import 'vars';
@import 'header';

.app-admin-wrap {
    width: 100%;
}

.main-content-wrap {
    position: relative;
    z-index: 1;
    float: right;
    margin-top: $topbar-height;
    transition: all .24s ease-in-out;
    padding: 1.53rem 5rem 0 2rem;
    min-height: calc(100vh - #{$topbar-height});
    background: $gray-100;
    width: calc(100% - #{$sidebar-left-width});

    .content-block {
        max-width: 1420px;
    }
}

//SIDEBAR =======

.layout-sidebar-large {
    .sidebar-left-secondary,
    .sidebar-left {
        position: fixed;
        top: $topbar-height;
        height: calc(100vh - #{$topbar-height});
        overflow: auto !important;
        background: $background;
        border-right: 1px solid $devider-color;
    }

    .mobile {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

    .desktop {
        display: block;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .sidebar-left {
        left: 0;
        z-index: 90;

        .logo {
            display: none;
        }

        .navigation-left {
            list-style: none;
            text-align: center;
            width: $sidebar-left-width;
            height: 100%;
            margin: 0;
            padding: 0;

            .nav-item {
                position: relative;
                display: block;
                width: 100%;
                color: $primary-grey;
                cursor: pointer;
                border-bottom: 1px solid #F3F5F8;

                &.mobile {
                    display: none;

                    @media (max-width: 767px) {
                        display: flex;
                    }
                }

                &:focus, &:active {
                    outline: none;
                }

                &.lvl1 {
                    text-align: center;
                }

                &:hover,
                &.active {
                    color: $purple;
                }

                .nav-item-hold {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    min-height: 70px;
                    padding: 5px 0;
                    
                    &:focus, &:active {
                        outline: none;
                    }

                    .nav-item-inner {
                        flex-direction: column;
                    }
                    
                    .nav-icon, .feather {
                        display: block;
                        width: 32px;
                        height: 32px;
                        font-size: 1.5rem;
                    }
                    
                    .nav-text {
                        display: block;
                        font-weight: 400;
                        font-size: 11px;
                    }

                    a {
                        color: $primary-grey;
                    }
                }

                .triangle {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    height: 0;
                    width: 4px;
                    background: $purple;
                    transition: height .3s;
                }
                
                &.active .triangle {
                    height: 100%;
                }
            }

            .mobile-nav-item {
                display: none;
            }
        }
    }

    // SIDENAV SECONDARY
    .sidebar-left-secondary {
        left: calc(-#{$sidebar-left-secondary-width} - #{$side-clearance});
        z-index: 89;
        width: $sidebar-left-secondary-width;
        padding: 1.25rem 0;
        transition: all .24s ease-in-out;
        background: $background;

        &.open {
            left: $sidebar-left-width;
        }

        header {
            display: none;
        }

        .childNav {
            list-style: none;
            padding: 0;
            
            li.nav-item {
                display: block;
                
                a {
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                    padding: 7px 30px;
                    font-size: 15px;
                    letter-spacing: 0;
                    color: $primary-grey;
                    transition: .15s all ease-in;
                    cursor: pointer;

                    &:hover,
                    &.open {
                        color: $purple;
                    }

                    .item-name {
                        vertical-align: middle;
                        font-weight: 400;
                    }

                    .dd-arrow {
                        margin-left: auto;
                        font-size: 11px;
                    }
                }

                .submenu {
                    margin-left: 8px;
                }
            }
        }

        & > .childNav {
            margin: 0;
        }

        li.nav-item {
            &.open {
                > div {
                    > a {
                        > .dd-arrow {
                            transform: rotate(90deg);
                        }
                    }
                    > .childNav {
                        max-height: 1000px;
                        overflow: visible;
                    }
                }
            }

            > div {
                > a {
                    > .dd-arrow {
                        transition: all .4s ease-in-out;
                    }
                }
            > .childNav {
                    max-height: 0;
                    overflow: hidden;
                    background: $background;
                    transition: all .4s ease-in-out;
                    li.nav-item a {
                        padding: 12px 12px 12px 50px;
                    }
                }
            }
        }
    }

    .mobile-back {
        display: none;
    }

    .mobile-menu-overlay,
    .sidebar-overlay {
        display: none;
        position: fixed;
        width: calc(100% - 328px);
        height: calc(100vh - #{$topbar-height});
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0);
        z-index: 1;
        cursor: w-resize;

        &.open {
            display: block;
        }
    }
}

.module-loader {
    position: fixed;
    background: rgba($background, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    .loader, .spinner {
        position: fixed;
        top: 45%;
        left: calc(50% + 56px);
        z-index: inherit;
    }
}

@media (max-width: 1024px) {
    .main-content-wrap {
        padding: 0 2rem;
    }
}

@media (max-width: 767px) {
    .main-content-wrap {
        width: 100%;
        padding: .9rem 1rem;
    }

    .layout-sidebar-large {
        .sidebar-left {
            transform: translate3d(-100%, 0, 0);
            padding-top: 20px;
            top: $topbar-height-mobile;
            height: calc(var(--app-height, 1vh) * 100 - $topbar-height-mobile);
            transition: transform .3s;
            background: $gray-100;
    
            &.open {
                transform: translate3d(0, 0, 0);
                width: 100%;

                & + .mobile-menu-overlay {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .2s;
                }
            }
    
            .navigation-left {
                width: 100%;

                .mobile-nav-item {
                    display: block;
                }

                .nav-item {
                    a {
                        padding: 11px 20px;
                        font-size: 14px;
                        border-radius: 22px;
                        transition: color .3s, background .3s;
        
                        &:active,
                        &:hover {
                            color: $purple;
                            background: $purple-bg;
                        }
                    }

                    .triangle {
                        display: none;
                    }

                    .nav-item-hold {
                        flex-direction: row;
                        justify-content: flex-start;
                        min-height: 56px;
                        padding: 0 13px;
                        border-bottom: 1px solid $gray-300;

                        .nav-item-inner {
                            flex-direction: row;
                            position: relative;
                            height: 56px;

                            &.canOpen::after {
                                position: absolute;
                                top: 50%;
                                right: 1rem !important;
                                transform: translate(0, -50%);
                                content: url($arrow);
                                border: none;
                            }

                            &.opened::after {
                                transform: rotate(180deg) translate(0, 50%);
                            }
                        }

                        .nav-icon {
                            position: relative;
                            margin-right: 11px;
                            height: initial;

                            .badge {
                                position: absolute;
                                top: 0 !important;
                                right: 3px !important;
                            }
                        }
    
                        .nav-text {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .childNav {
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding-left: 10px;
            text-align: initial;

            .nav-item:last-child {
                padding-bottom: 12px;
            }
        }

        .mobile-menu-overlay {
            display: block;
            opacity: 0;
            visibility: hidden;
            background: rgba(0, 0, 0, 0.27);
            transition: opacity .2s, visibility .2s;
        }

        .sidebar-left-secondary {
            display: none;
            // width: 327px;
            // left: 0 !important;
            // top: 0;
            // z-index: 101;
            // transform: translate3d(-100%, 0, 0);
            // padding: 1.25rem 1rem;
            // opacity: 0;
            // transition: transform .3s, opacity .3s;

            .childNav li.nav-item a {
                padding: 11px 20px;
                font-size: 14px;
                border-radius: 22px;
                transition: color .3s, background .3s;

                &:active,
                &:hover {
                    color: $purple;
                    background: $purple-bg;
                }
            }

            &.open {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }

        // .mobile-back {
        //     display: flex;
        //     align-items: center;
        //     padding: 1rem 7px;
        //     font-size: 14px !important;

        //     &::before {
        //         margin-right: 7px;
        //         content: '\f077';
        //         font: 18px 'iconsmind' !important;
        //     }
        // }
    }
}

[dir="rtl"] {
    .layout-sidebar-large {
        .sidebar-left {
            left: 0 !important;
            right: 0;
            border-left: 1px solid #C7CBD4;
            // right: calc(-#{$sidebar-left-width} - #{$side-clearance});
            &.open {
                left: auto !important;
                right: 0;
            }
            .navigation-left .nav-item .triangle {
                right: auto;
                left: 0;
            }
        }
        .sidebar-left-secondary {
            border-left: 1px solid #C7CBD4;
            left: auto !important;
            right: calc(-#{$sidebar-left-secondary-width} - #{$side-clearance});
            &.open {
                left: auto !important;
                right: $sidebar-left-width;
            }
            .childNav li.nav-item a {
                .dd-arrow {
                    margin-left: unset !important;
                    margin-right: auto;
                }
                .nav-icon {
                    margin-left: 8px;
                    margin-right: 0;
                }
            }
        }
        .main-content-wrap {
            float: left;
        }
        .sidebar-overlay {
            right: auto !important;
            left: 0;
            cursor: e-resize;
        }
    }

    @media (min-width: 767px) {
        .layout-sidebar-large {
            .sidebar-left { 
                left: initial !important;
            }
        }
    }

    @media (max-width: 767px) {
        .layout-sidebar-large {
            .sidebar-left { 
                .navigation-left {
                    .nav-item { 
                        .nav-item-hold {    
                            .nav-item-inner {    
                                &.canOpen::after {
                                    right: initial !important;
                                    left: 1rem;
                                }
                            }

                            .nav-icon {
                                margin-right: 0;
                                margin-left: 11px;
                            }
                        }
                    }
                }
            }

            .childNav {
                padding-right: 10px;
                padding-left: 0;
            }
        }
    }
}